@CHARSET "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	background: #c6eff5;
}

.body_bg{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}
.body_bg img{
	border: none;
	width: 100%;
}

.panel_login{
	display: block;
	width: 650px;
	height: 600px;
	position: relative;
	display: none;
	margin: auto;
}
.panel_login_title{
	z-index: 3;
	position: absolute;
	display: block;
	width: 100%;
	left: 0px;
	top: 0px;
	text-align: center;
	padding-top: 80px;
	z-index: 4;
}
.panel_login_input{
	display: block;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
	text-align: center;
}
.panel_login_input_bg{
	display: block;
	width: 362px;
	position: absolute;
	left: 144px;
	top: 150px;
	z-index: 3;
	text-align: center;
	background: white;
	filter: alpha(opacity=20);
	-moz-opacity: 0.2;
	opacity: 0.2;
	
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.panel_login_input_bar{
	display: block;
	width: 340px;
	height: 260px;
	background: white;
	margin: 160px auto 0px auto;
	border-right: 1px solid #b5d3d7;
	border-bottom: 1px solid #b5d3d7;
	overflow: hidden;
	padding-top: 40px;
}
.panel_login_input_bar div{
	display: block;
	float: none;
	clear: both;
	height: 46px;
}
.panel_login_input_bar label{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #333333;
	display: block;
	float: left;
	width: 76px;
	margin-left: 20px;
	vertical-align: middle;
	line-height: 30px;
}
.panel_login_input_bar .input_text{
	border: 1px solid #c6c4c4;
	float: left;
	display: block;
	width: 200px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #666666;
}
.panel_login_input_bar .input_text_checkcode{
	width: 120px;
}
.panel_login_input_bar .btn_submit{
	display: block;
	height: 34px;
	width: 240px;
	margin: 14px auto 0px auto;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background: #514f4f;
	line-height: 34px;
	border: none;
	cursor: pointer;
}
.panel_login_input_bar .link_bar{
	text-align: right;
	padding: 10px 40px 0px 40px;
	color: #3366cc;
}
.panel_login_input_bar a:visited{
	color: #3366cc;
}
.panel_login_bg{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.panel_login_bg img{
	display: block;
	width: 100%;
	z-index: 2;
}