body{
	background-color: #429056;
}

.container{
	width: 540px;
	height: 670px;
	background-color: #fff;
	border-radius: 5px;
	margin: 105px auto 130px;
}

.container .title{
	padding-top: 20px;
	text-align: center;
}

.container .title img{
	height: 55px;
	margin-right: 15px;
	vertical-align: text-bottom;
	position: relative;
	top: 3px;
}

.container .money{
	height: 130px;
	line-height: 130px;
	text-align: center;
	color: #f00;
	margin-bottom: 20px;
	font-size: 70px;
}

.container .qrcode{
	text-align: center;
}

.container .qrcode img{
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 315px;
	height: 315px;
	padding-top: 315px;
	padding-left: 315px;
	margin-top: -315px;
	margin-left: -315px;
}

.container .note{
	height: 98px;
	line-height: 98px;
	font-size: 28px;
	text-align: center;
	background-color: #f7f7f7;
	margin-top: 30px;
}

.copyright{
	line-height: 1.5em;
	text-align: center;
	color: #fff;
	margin-bottom: 25px;
}

.copyright .techSupport{
	font-size: 26px;
}

.copyright .hotline{
	font-size: 22px;
}