@CHARSET "UTF-8";

body{
	background: white;
	margin: 0px;
	padding: 0px;
	font-family:"微软雅黑", Arial, helvetica,"华文黑体", "方正黑体简体";
}

.sm{
	padding: 0px 30px;
	margin: 0px;
}
.sm .current{
	padding: 16px 22px;
	margin: 0px;
	border-bottom: 1px solid #dadada;
	font-size: 14px;
}
.status_bar{
	background: #e7e7e7;
	border: 1px solid #dbdbdb;
	padding: 14px 20px;
	font-size: 14px;
	margin: 16px 22px;
}
.status_bar a{
	color: black;
	text-decoration: none;
}
.status_bar span.red{
	color: red;
}
.status_bar span.split{
	margin: 0px 12px;
	color: #dbdbdb;
}
.info_bar{
	margin: 16px 22px 0px 22px;
	padding: 16px;
	clear: both;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	font-size: 14px;
	background: #d5e4fa;
	border: 1px solid #c2d5ef;
}
.info_bar .pic_area{
	float: left;
}
.info_bar .pic_area img{
	display: block;
	height: 90px;
	width: 90px;
}
.info_bar .info_area{
	float: left;
	color: #999;
	font-size: 14px;
}
.info_bar .info_area div{
	display: block;
	width: 280px;
	height: 30px;
	padding: 0px 0px 0px 60px
}
.search_bar{
	margin: 0px;
	padding: 16px 22px 0px 22px;
	clear: both;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	font-size: 14px;
}
.search_bar .rm{
	margin-right: 12px;
}
.search_bar .lm{
	margin-left: 12px;
}
.search_bar .lfm{
	margin: 0px 12px;
}
.search_bar label{
	line-height: 28px;
	font-size: 14px;
}
.search_bar .inline{
	float: left;
}
.search_bar .text_s{
	height: 28px;
	width: 75px;
	border: 1px solid #c6d7f1;
	line-height: 28px;
}
.search_bar .text_l{
	height: 28px;
	width: 150px;
	border: 1px solid #c6d7f1;
	line-height: 28px;
}
.search_bar .text_ph{
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.search_bar .text_ph input{
	position: absolute;
	left: 0px;
	top: 0px;
	border: none;
	background: none;
	height: 28px;
	line-height: 28px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	z-index: 2;
}
.search_bar .text_ph div{
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	color: #999999;
	font-size: 12px;
	line-height: 28px;
	padding-left: 5px;
	z-index: 1;
}
.search_bar .select{
	height: 28px;
	width: 88px;
	border: 1px solid #c6d7f1;
	line-height: 28px;
}
.search_bar .select .option{
	line-height: 28px;
}
.search_bar .submit{
	height: 28px;
	width: 55px;
	border: 1px solid #b1b1b1;
	line-height: 28px;
	text-align: center;
	background: #f2f2f3;
	cursor: pointer;
	color: #666666;
}

.select_bar{
	margin: 14px 22px 0px 22px;
	padding: 12px 0px 0px 0px;
	clear: both;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	font-size: 14px;
	border-top: 1px dashed #aaaaaa;
}
.select_bar label{
	vertical-align: middle;
}
.select_bar input{
	vertical-align: middle;
}
.select_bar .button{
	border: 1px solid #b1b1b1;
	margin-left: 10px;
	text-align: center;
	background: #f2f2f3;
	cursor: pointer;
	color: #666666;
	padding: 4px 12px;
}
.select_bar .button_primary{
	border: 1px solid #619dc7;
	margin-left: 12px;
	text-align: center;
	background: #7cbae5;
	padding: 4px 12px;
	cursor: pointer;
	color: white;
	
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.select_bar .right{
	float: right;
}

.order_bar{
	margin: 18px 22px 0px 22px;
	padding: 0px;
}
.order_bar table{
	width: 100%;
	border-collapse:collapse;
}
.order_bar table thead tr{
	background: #d5e4fa;
	border: 1px solid #c2d5ef;
}
.order_bar table thead tr th{
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0px;
}
.order_bar table tbody{
	border: 1px solid #c6d7f1;
}
.order_bar table tbody .small_title{
	background: #f2f7ff;
}
.order_bar table tbody .b_line{
	border-bottom: 1px solid #efefef;
}
.order_bar table tbody .small_title td{
	padding: 12px 0px;
	text-align: center;
	font-size: 14px;
}
.order_bar table tbody tr td{
	padding: 12px 0px;
	font-size: 14px;
	color: #666666;
}
.order_bar table tbody tr td a.opera{
	text-decoration: none;
	color: #3366cc;
	font-size: 14px;
	padding: 0px 8px;
}
.order_bar table tbody tr td img{
	border: 1px solid #cdcdcd;
}
.order_bar table tbody tr td.red{
	color: #fd7365;
}
