@CHARSET "UTF-8";

body{
	background: white;
	margin: 0px;
	padding: 0px;
	font-family:"微软雅黑", Arial, helvetica,"华文黑体", "方正黑体简体";
}

.sm{
	padding: 0px 30px;
	margin: 0px;
}
.sm .current{
	padding: 16px 22px;
	margin: 0px;
	border-bottom: 1px solid #dadada;
	font-size: 14px;
}
.input_bar{
	margin: 0px;
	padding: 50px 60px;
}
.input_bar .group{
	margin: 0px;
	padding: 0px;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	clear: both;
	padding: 8px 0px;
}
.input_bar .group label{
	display: block;
	float: left;
	width: 25%;
	text-align: right;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding-right: 6px;
}
.input_bar .group input{
	float: left;
	height: 30px;
	width: 300px;
	border: 1px solid #c6c4c4;
	line-height: 30px;
}
.input_bar .group .button{
	margin: 10px 0px 0px 0px;
	background: #d5d5d5;
	border: 1px solid #c6c4c4;
	padding: 8px 60px;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.input_bar .group .button:hover{
	background: #7cbae5;
	border: 1px solid #619dc7;
}